body {

}

form {
    /*width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
	*/
}
fliedset {
	font: sans-serrif;
}
legend {
	text-align: left;
	/*font-size: 150%;*/
	
}
select {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}
button {
	margin-left: 15%;
}
label {
	float:left;
	text-align: right;
	margin-right: 1em;
	width:15%;
}
li {
	font-size: 1.5em;
}